{#-
@NEURON_NAME@.h.jinja2

Generic experimental NEST GPU neuron header.
This template always generates the odeint/thrust numeric variant directly
inside the neuron class.
#}
{%- include "NeuronHeaderOdeintExperimental.jinja2" %}
