{#-
@NEURON_NAME@.cu.jinja2

Generic experimental NEST GPU neuron class.
This template always generates the odeint/thrust numeric variant directly
inside the neuron .cu file.
#}
{%- include "NeuronClassOdeintExperimental.jinja2" %}
