{#-
aeif_cond_alpha_alt_neuron_nestml.h.jinja2
ODEINT-only header template for aeif_cond_alpha_alt_neuron_nestml
#}

/*
 *  aeif_cond_alpha_alt_neuron_nestml.h
 *
 *  This file is part of NEST GPU.
 *
 *  Copyright (C) 2021 The NEST Initiative
 *
 *  NEST GPU is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  NEST GPU is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with NEST GPU.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

#ifndef AEIF_COND_ALPHA_ALT_NEURON_NESTML_H
#define AEIF_COND_ALPHA_ALT_NEURON_NESTML_H

#include <iostream>
#include <string>

#include "cuda_error.h"
#include "node_group.h"
#include "base_neuron.h"
#include "neuron_models.h"
#include "aeif_cond_alpha_alt_odeint_solver.h"

#define MIN(a,b) (((a)<(b))?(a):(b))

extern __constant__ float NESTGPUTimeResolution;

namespace aeif_cond_alpha_alt_neuron_nestml_ns
{

enum ScalVarIndexes {
  i_V_m,
  i_w,
  i_refr_t,
  i_g_exc,
  i_g_exc__d,
  i_g_inh,
  i_g_inh__d,
  N_SCAL_VAR
};

enum ScalParamIndexes {
  i_C_m,
  i_refr_T,
  i_V_reset,
  i_g_L,
  i_E_L,
  i_a,
  i_b,
  i_Delta_T,
  i_tau_w,
  i_V_th,
  i_V_peak,
  i_tau_syn_exc,
  i_tau_syn_inh,
  i_E_exc,
  i_E_inh,
  i_I_e,
  i_I_stim,
  N_SCAL_PARAM
};

enum PortVarIndexes {
  i_exc_spikes,
  i_inh_spikes,
  N_PORT_VAR
};

const std::string aeif_cond_alpha_alt_neuron_nestml_scal_var_name[N_SCAL_VAR] = {
  "V_m",
  "w",
  "refr_t",
  "g_exc",
  "g_exc__d",
  "g_inh",
  "g_inh__d",
};

const std::string aeif_cond_alpha_alt_neuron_nestml_scal_param_name[N_SCAL_PARAM] = {
  "C_m",
  "refr_T",
  "V_reset",
  "g_L",
  "E_L",
  "a",
  "b",
  "Delta_T",
  "tau_w",
  "V_th",
  "V_peak",
  "tau_syn_exc",
  "tau_syn_inh",
  "E_exc",
  "E_inh",
  "I_e",
  "I_stim",
};

const std::string aeif_cond_alpha_alt_neuron_nestml_port_var_name[N_PORT_VAR] = {
  "exc_spikes",
  "inh_spikes",
};

} // namespace aeif_cond_alpha_alt_neuron_nestml_ns


class aeif_cond_alpha_alt_neuron_nestml : public BaseNeuron
{
public:
  ~aeif_cond_alpha_alt_neuron_nestml();

  AeifCondAlphaAltOdeintSolver* odeint_solver_ = nullptr;

  int Init(int i_node_0, int n_neuron, int n_port, int i_group,
           unsigned long long* seed = nullptr);

  int Calibrate(double time_min, float time_resolution);

  int Update(long long it, double t1);

  int Free();
};

#endif // AEIF_COND_ALPHA_ALT_NEURON_NESTML_H
