{#-
NeuronClassOdeintExperimental.jinja2

Generic Boost.Odeint/Thrust neuron class template for NEST GPU.

This template generates only the neuron .cu file.
There is no separate solver class.
The Boost.Odeint Dormand-Prince solver is integrated directly here.
#}

/*
 *  {{ neuronName }}.cu
 *
 *  This file is part of NEST GPU.
 *
 *  Copyright (C) 2021 The NEST Initiative
 *
 *  NEST GPU is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  NEST GPU is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with NEST GPU.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

#include <config.h>
#include <cmath>
#include <iostream>

#include <boost/numeric/odeint.hpp>
#include <boost/numeric/odeint/external/thrust/thrust.hpp>
#include <boost/ref.hpp>
#include <thrust/device_vector.h>
#include <thrust/execution_policy.h>
#include <thrust/for_each.h>
#include <thrust/iterator/counting_iterator.h>

#include "{{ neuronName }}.h"
#include "spike_buffer.h"

{%- import 'directives/SetScalParamAndVar.jinja2' as set_scal_param_var with context %}

using namespace {{ neuronName }}_ns;


/*
 * Lightweight context object passed to generated NESTML code.
 *
 * It stores runtime information that may be needed by generated
 * derivative or event-handling code.
 */
struct {{ neuronName }}_odeint_context
{
  int i_node_0_;
};


namespace
{

typedef float value_type;
typedef thrust::device_vector<value_type> ode_state_type;


/*
 * Copy scalar NEST GPU state variables into a compact Odeint state vector.
 *
 * NEST layout: var_arr[i_neuron * n_var + scalar_index]
 * Odeint layout: ode_state[i_neuron * N_SCAL_VAR + scalar_index]
 *
 * Port variables are intentionally not copied.
 */
__global__ void {{ neuronName }}_CopyNestToOdeState(
    int n_node,
    const float* var_arr,
    int n_var,
    float* ode_state)
{
  const int i_neuron = threadIdx.x + blockIdx.x * blockDim.x;

  if (i_neuron >= n_node)
    return;

  const float* src = var_arr + n_var * i_neuron;
  float* dst = ode_state + N_SCAL_VAR * i_neuron;

  for (int i = 0; i < N_SCAL_VAR; ++i)
    dst[i] = src[i];
}


/*
 * Copy the compact Odeint scalar state back into the NEST GPU state array.
 *
 * Port variables remain untouched here.
 */
__global__ void {{ neuronName }}_CopyOdeStateToNest(
    int n_node,
    float* var_arr,
    int n_var,
    const float* ode_state)
{
  const int i_neuron = threadIdx.x + blockIdx.x * blockDim.x;

  if (i_neuron >= n_node)
    return;

  float* dst = var_arr + n_var * i_neuron;
  const float* src = ode_state + N_SCAL_VAR * i_neuron;

  for (int i = 0; i < N_SCAL_VAR; ++i)
    dst[i] = src[i];

{% if utils.get_variable_by_name(astnode, "refr_t") %}
  if (dst[i_refr_t] < 0.0f)
    dst[i_refr_t] = 0.0f;
{% endif %}
}

} // anonymous namespace


namespace {{ neuronName }}_odeint_system_ns
{

using namespace {{ neuronName }}_ns;


/*
 * Generated NESTML derivative functions.
 *
 * These functions are generated from all unique integrate_odes(...) calls.
 *
 * Impo:
 * NumericDifferentiationFunction.jinja2 must be rendered with gsl_printer,
 * otherwise expressions may be generated with var[...] instead of y[...].
 */
{%- set old_printer = printer %}
{%- set printer = gsl_printer %}

{% for ast in utils.get_all_integrate_odes_calls_unique(neuron) %}
{%- include "directives/NumericDifferentiationFunction.jinja2" %}
{% endfor %}

{%- set printer = old_printer %}


/*
 * Dispatch to the correct derivative function depending on the original
 * NESTML control flow around integrate_odes().
 */
template<int NVAR, int NPARAM>
__device__
void OdeintDerivatives(
    double x,
    float* y,
    float* dydx,
    float* param,
    {{ neuronName }}_odeint_context data_struct)
{
{% for ast in utils.get_all_integrate_odes_calls_unique(neuron) %}
{%- set parent = utils.get_integrate_odes_parent(ast) %}
{%- if parent is not none %}
{%- if utils.is_if_clause(parent) %}
  if ({{ gsl_printer.print(parent.get_condition()) }})
{%- elif utils.is_elif_clause(parent) %}
  else if ({{ gsl_printer.print(parent.get_condition()) }})
{%- else %}
  else
{%- endif %}
  {
    {{ neuronName }}_odeint_system_ns::Derivatives{% if ast.get_args() | length > 0 %}_{{ utils.integrate_odes_args_str_from_function_call(ast) }}{% endif %}<NVAR, NPARAM>(
        x,
        y,
        dydx,
        param,
        data_struct);
  }
{%- else %}
  {{ neuronName }}_odeint_system_ns::Derivatives<NVAR, NPARAM>(
      x,
      y,
      dydx,
      param,
      data_struct);
{%- endif %}
{% endfor %}
}

} // namespace {{ neuronName }}_odeint_system_ns


namespace
{

/*
 * Device functor for the right-hand side of the ODE system.
 *
 * Odeint calls {{ neuronName }}_OdeintSystem on the host.
 * That system function launches this Thrust functor on the GPU.
 */
struct {{ neuronName }}_DerivativeFunctor
{
  const float* x;
  float* dxdt;
  const float* param;
  int param_stride;

  __device__
  void operator()(int i_neuron) const
  {
    constexpr int NVAR   = N_SCAL_VAR;
    constexpr int NPARAM = N_SCAL_PARAM;

    const float* y_src = x + i_neuron * N_SCAL_VAR;
    float* dydt = dxdt + i_neuron * N_SCAL_VAR;
    const float* p = param + i_neuron * param_stride;

    /*
     * The generated derivative code expects a mutable y array.
     * Therefore we copy the compact scalar state into a local array.
     */
    float y[NVAR];

    for (int i = 0; i < NVAR; ++i)
      y[i] = y_src[i];

    {{ neuronName }}_odeint_context data_struct;
    data_struct.i_node_0_ = 0;

    {{ neuronName }}_odeint_system_ns::OdeintDerivatives<NVAR, NPARAM>(
        0.0,
        y,
        dydt,
        const_cast<float*>(p),
        data_struct);
  }
};


/*
 * Boost.Odeint system function.
 *
 * x: compact scalar state vector on GPU
 * dxdt:compact derivative vector on GPU
 */
struct {{ neuronName }}_OdeintSystem
{
  const float* param;
  int param_stride;
  int n_neuron;

  void operator()(const ode_state_type& x,
                  ode_state_type& dxdt,
                  const value_type /*t*/) const
  {
    const float* x_ptr = thrust::raw_pointer_cast(x.data());
    float* dxdt_ptr = thrust::raw_pointer_cast(dxdt.data());

    thrust::counting_iterator<int> begin(0);
    thrust::counting_iterator<int> end(n_neuron);

    {{ neuronName }}_DerivativeFunctor functor;
    functor.x = x_ptr;
    functor.dxdt = dxdt_ptr;
    functor.param = param;
    functor.param_stride = param_stride;

    thrust::for_each(thrust::device, begin, end, functor);
  }
};

} // anonymous namespace


/*
 * PRE-INTEGRATION KERNEL
 *
 * Handles onReceive before ODE integration.
 * Incoming spikes affect the ODE state before the Boost.Odeint step.
 */
__global__ void {{ neuronName }}_PreUpdate(
    int n_node,
    int i_node_0,
    float* var_arr,
    float* param_arr,
    int n_var,
    int n_param)
{
  const int i_neuron = threadIdx.x + blockIdx.x * blockDim.x;

  if (i_neuron >= n_node)
    return;

  float* y     = var_arr   + n_var   * i_neuron;
  float* var   = y;
  float* param = param_arr + n_param * i_neuron;

  double x = 0.0;
  bool end_time_step = true;

  {{ neuronName }}_odeint_context data_struct;
  data_struct.i_node_0_ = i_node_0;

  /*
   * Begin NESTML generated code for onReceive block(s).
   */
{% for blk in neuron.get_on_receive_blocks() %}
{%- set inport = blk.get_port_name() %}
  if (y[N_SCAL_VAR + i_{{ inport }}] != 0.0f)
  {
{%- set ast = blk.get_stmts_body() %}
{%- filter indent(4, True) %}
{%- include "directives/Block.jinja2" %}
{%- endfilter %}
    y[N_SCAL_VAR + i_{{ inport }}] = 0.0f;
  }

{% endfor %}
}


/*
 * POST-INTEGRATION KERNEL
 *
 * Handles remaining update-block statements, threshold, reset,
 * spike emission and safety reset of spike input ports.
 * onReceive is handled before integration in {{ neuronName }}_PreUpdate().
 */
__global__ void {{ neuronName }}_PostUpdate(
    int n_node,
    int i_node_0,
    float* var_arr,
    float* param_arr,
    int n_var,
    int n_param)
{
  const int i_neuron = threadIdx.x + blockIdx.x * blockDim.x;

  if (i_neuron >= n_node)
    return;

  float* y     = var_arr   + n_var   * i_neuron;
  float* var   = y;
  float* param = param_arr + n_param * i_neuron;

  double x = 0.0;
  bool end_time_step = true;

  {{ neuronName }}_odeint_context data_struct;
  data_struct.i_node_0_ = i_node_0;

  /*
   * Begin NESTML generated code for update block(s).
   *
   * integrate_odes() itself has already been handled by Boost.Odeint.
   * The generated Block.jinja2 code normally leaves only comments for integrate_odes() and keeps additional statements.
   */
{%- if neuron.get_update_blocks() %}
{%- filter indent(2) %}
{%- for block in neuron.get_update_blocks() %}
{%- set ast = block.get_stmts_body() %}
{%- if ast.print_comment('*')|length > 1 %}
/*
 {{ ast.print_comment('*') }}
 */
{%- endif %}
{%- include "directives/Block.jinja2" %}
{%- endfor %}
{%- endfilter %}
{%- endif %}

  /*
   * Begin NESTML generated code for onCondition block(s).
   */
{% if neuron.get_on_condition_blocks() %}
{% for block in neuron.get_on_condition_blocks() %}
  if ({{ printer.print(block.get_cond_expr()) }})
  {
{%- set ast = block.get_stmts_body() %}
{%- if ast.print_comment('*') | length > 1 %}
/*
 {{ ast.print_comment('*') }}
 */
{%- endif %}
{%- filter indent(4, True) %}
{%- include "directives/Block.jinja2" %}
{%- endfilter %}
  }

{% endfor %}
{% endif %}

  /*
   * Safety reset of all spike input port variables.
   * Normally they are already reset in PreUpdate.
   */
{% for variable_symbol in neuron.get_spike_input_ports() %}
  y[N_SCAL_VAR + i_{{ variable_symbol.get_symbol_name() }}] = 0.0f;
{% endfor %}
}



// Class methods

{{ neuronName }}::~{{ neuronName }}()
{
  Free();
}


int {{ neuronName }}::Init(int i_node_0,
                           int n_node,
                           int /*n_port*/,
                           int i_group,
                           unsigned long long* seed)
{
  BaseNeuron::Init(
      i_node_0,
      n_node,
      {{ neuron.get_spike_input_ports() | length }} /*n_port*/,
      i_group,
      seed);

  node_type_ = i_{{ neuronName }}_model;


  /*
   * State variables
   */
  n_scal_var_ = N_SCAL_VAR;
  n_port_var_ = N_PORT_VAR;
  n_var_      = n_scal_var_ + n_port_var_;


  /*
   * Parameters
   */
  n_scal_param_ = N_SCAL_PARAM;
  n_param_      = n_scal_param_;


  AllocParamArr();
  AllocVarArr();


  scal_var_name_   = {{ neuronName }}_scal_var_name;
  scal_param_name_ = {{ neuronName }}_scal_param_name;
  port_var_name_   = {{ neuronName }}_port_var_name;


  /*
   * Parameters
   */
{% for variable_symbol in neuron.get_parameter_symbols() %}
{%- set variable = utils.get_parameter_variable_by_name(astnode, variable_symbol.get_symbol_name()) %}
  SetScalParam(
      0,
      n_node,
      "{{ printer_no_origin.print(variable) }}",
      {{ set_scal_param_var.SetScalParamAndVar(variable_symbol.get_declaring_expression()) }});  // as {{ variable_symbol.get_type_symbol().print_symbol() }}
{% endfor %}

  /*
   * Internal variables
   */
{% for variable_symbol in neuron.get_internal_symbols() %}
{%- set variable = utils.get_internal_variable_by_name(astnode, variable_symbol.get_symbol_name()) %}
  SetScalParam(
      0,
      n_node,
      "{{ printer_no_origin.print(variable) }}",
      0.0);
{% endfor %}

  /*
   * Continuous input ports
   */
{% for variable_symbol in neuron.get_continuous_input_ports() %}
{%- set variable = utils.get_input_port_by_name(astnode.get_input_blocks(), variable_symbol.get_symbol_name()) %}
  SetScalParam(
      0,
      n_node,
      "{{ variable.get_name() }}",
      0.0);
{% endfor %}

  /*
   * State variables
   */
{% for variable_symbol in neuron.get_state_symbols_sorted_by_suffix() %}
{%- set variable = utils.get_state_variable_by_name(astnode, variable_symbol.get_symbol_name()) %}
  SetScalVar(
      0,
      n_node,
      "{{ printer_no_origin.print(variable) }}",
      {{ set_scal_param_var.SetScalParamAndVar(variable_symbol.get_declaring_expression()) }});  // as {{ variable_symbol.get_type_symbol().print_symbol() }}
{% endfor %}


  /*
   * Compact state buffer for Boost.Odeint.
   * Size = n_node_ * N_SCAL_VAR
   */
  ode_state_ = new thrust::device_vector<float>(
      static_cast<size_t>(n_node_) * static_cast<size_t>(N_SCAL_VAR));


{% if neuron.get_spike_input_ports() | length > 0 %}
  /*
   * Multiplication factor of input signal is always 1 for all nodes.
   */
  float input_weight = 1.0f;

  gpuErrchk(cudaMalloc(&port_weight_arr_, sizeof(float)));

  gpuErrchk(cudaMemcpy(
      port_weight_arr_,
      &input_weight,
      sizeof(float),
      cudaMemcpyHostToDevice));

  port_weight_arr_step_  = 0;
  port_weight_port_step_ = 0;


  /*
   * Process the input spikes.
   */
  port_input_arr_ =
      GetVarArr() + n_scal_var_ + GetPortVarIdx("{{ utils.get_first_excitatory_port(neuron) }}");

  port_input_arr_step_ =
      n_var_;

  port_input_port_step_ =
      {{ (neuron.get_spike_input_ports() | length) - 1 }};
{% endif %}


  return 0;
}


int {{ neuronName }}::Calibrate(double /*time_min*/,
                                float /*time_resolution*/)
{
  /*
   * Boost.Odeint path does not need legacy calibration.
   */
  return 0;
}


int {{ neuronName }}::Update(long long /*it*/, double t1)
{
  float dt = 0.0f;

  gpuErrchk(cudaMemcpyFromSymbol(
      &dt,
      NESTGPUTimeResolution,
      sizeof(float)));

  const float t0    = static_cast<float>(t1) - dt;
  const float t_end = static_cast<float>(t1);


  /*
   * Apply incoming spikes before ODE integration.
   */
  {{ neuronName }}_PreUpdate
      <<< (n_node_ + 1023) / 1024, 1024 >>>(
          n_node_,
          i_node_0_,
          var_arr_,
          param_arr_,
          n_var_,
          n_param_);

  gpuErrchk(cudaPeekAtLastError());


  float* ode_state_ptr = thrust::raw_pointer_cast(ode_state_->data());


  /*
   * Copy current NEST GPU scalar state into compact Odeint state.
   *
   * This is done after PreUpdate, so incoming spikes already affected
   * the scalar ODE state before integration starts.
   */
  {{ neuronName }}_CopyNestToOdeState
      <<< (n_node_ + 1023) / 1024, 1024 >>>(
          n_node_,
          var_arr_,
          n_var_,
          ode_state_ptr);

  gpuErrchk(cudaPeekAtLastError());


  /*
   * Built-in Boost.Odeint Dormand-Prince adaptive stepper.
   */
  typedef boost::numeric::odeint::runge_kutta_dopri5<
      ode_state_type,
      value_type,
      ode_state_type,
      value_type,
      boost::numeric::odeint::thrust_algebra,
      boost::numeric::odeint::thrust_operations> stepper_type;


  {{ neuronName }}_OdeintSystem system;
  system.param        = param_arr_;
  system.param_stride = n_param_;
  system.n_neuron     = n_node_;


  /*
   * Initial internal Odeint step size.
   *
   * Built-in aeif_cond_alpha uses h0_rel = 1.0e-2 by default.
   */
  const float odeint_h0 = dt * 1.0e-2f;


  boost::numeric::odeint::integrate_adaptive(
      boost::numeric::odeint::make_controlled(
          1.0e-5f,  // absolute tolerance
          1.0e-4f,  // relative tolerance
          stepper_type()),
      boost::ref(system),
      *ode_state_,
      t0,
      t_end,
      odeint_h0);


  /*
   * Copy integrated scalar state back to normal NEST GPU state array.
   * Port variables are not touched here.
   */
  {{ neuronName }}_CopyOdeStateToNest
      <<< (n_node_ + 1023) / 1024, 1024 >>>(
          n_node_,
          var_arr_,
          n_var_,
          ode_state_ptr);

  gpuErrchk(cudaPeekAtLastError());


  /*
   * Handle threshold, reset and PushSpike after ODE integration.
   */
  {{ neuronName }}_PostUpdate
      <<< (n_node_ + 1023) / 1024, 1024 >>>(
          n_node_,
          i_node_0_,
          var_arr_,
          param_arr_,
          n_var_,
          n_param_);

  gpuErrchk(cudaPeekAtLastError());


  return 0;
}


int {{ neuronName }}::Free()
{
  delete ode_state_;
  ode_state_ = nullptr;

  FreeVarArr();
  FreeParamArr();

  return 0;
}
